# Database Connection Strings (Supabase / PostgreSQL)
DATABASE_URL="postgres://postgres.[REF]:[PASS]@aws-0-[REGION].pooler.supabase.com:6543/postgres?sslmode=require"
DIRECT_URL="postgres://postgres.[REF]:[PASS]@aws-0-[REGION].pooler.supabase.com:5432/postgres"

# NextAuth Configuration
AUTH_SECRET="your-super-secret-32-character-key"
NEXTAUTH_URL="http://localhost:3000"

RESEND_API_KEY="your-resend-api-key"

PAYMENT_GATEWAY_SECRET = "your-payment-gateway-secret-key"